body{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(240, 240, 27);
    font-family: "Play", sans-serif;
    width: 1024px;
}
#header{
 background-color:  rgb(236, 164, 29);
 width: 100%;
 margin: 0 auto;
 padding: 0;
 height: 70px; 
 position: absolute;
 top: 0; 
 left: 0; 
 z-index: 100;
 color: yellow;

}
#main{
    margin-top: 100px;
    color: #272603;
    margin-left: 500px;
}
#main img{
    width: 200px;
}
#main p{
    color: #ff000f;
}

#footer{
    background-color: rgb(236, 164, 29);
    height: 50px; 
    position: fixed;
    bottom: 0;  
    z-index: 100;
    color: yellow;
    width: 100%;
    left: 0;
}
iframe {
    pointer-events: none; 
    height: 3300px;
    width: 100%;
}
